<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.on.oicr.pde.seqprodreporter"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ReporterActivity"
            android:label="@string/app_name" 
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>  
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                   android:resource="@xml/searchable"/>
        </activity>
   
        <activity
            android:name=".SeqprodPreferencesActivity"
            android:label="@string/title_pref_activity" >
        </activity>
        
        <activity
        	android:name=".WorkflowStatsListActivity"
            android:label="@string/title_workflowstats_list"
            android:parentActivityName=".ReporterActivity" >
            <meta-data android:name="android.support.PARENT_ACTIVITY"
           		android:value=".ReporterActivity" />
        </activity>
        
        <activity
        	android:name=".WorkflowStatsActivity"
            android:label="@string/title_workflowstats_list"
            android:parentActivityName=".ReporterActivity" >
            <meta-data android:name="android.support.PARENT_ACTIVITY"
           		android:value=".ReporterActivity" />
        </activity>

        <activity
            android:name=".WorkflowStatsDetailActivity"
            android:label="@string/title_workflowstats_detail"
            android:parentActivityName=".WorkflowStatsListActivity" >
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".WorkflowStatsListActivity" />
         </activity>
        
        <provider
            android:name="ca.on.oicr.pde.seqprodprovider.ReportProvider"
            android:authorities="ca.on.oicr.pde.seqprodprovider"
            android:exported="false" >
        </provider>
    </application>

</manifest>
